<div class="jumbotron">
    <div class="">
        <h5 class="">Filtrer les sorties</h5>
    </div>
    <div class="">

        {# nouveau formulaire de recherche #}
        {{ form_start(formRechercher) }}

        {{ form_row(formRechercher.site) }}

        {{ form_row(formRechercher.champ_recherche) }}

        {{ form_row(formRechercher.date_debut) }}

        {{ form_row(formRechercher.date_fin) }}

        {{ form_row(formRechercher.organisees) }}

        {{ form_row(formRechercher.inscrit) }}

        {{ form_row(formRechercher.non_inscrit) }}

        {{ form_row(formRechercher.passees) }}

        {{ form_row(formRechercher.btn_rechercher) }}

        {{ form_end(formRechercher) }}

        <div>
            <a href="{{ path('sortie_new') }}" class="btn btn-primary  justify-content-center d-none  d-sm-inline-block ">Nouvelle sortie</a>
        </div>

    </div>
</div>