{% extends 'base.html.twig' %}

{% block title %}accueil v3{% endblock %}

{% block body %}

<div class="container-fluid mb-5">
    {% if is_granted ('ROLE_USER') %}
        {# TODO: infos date du jour et nom utilisateur connecté, justifiées à droite #}
        {{ include('main/_recherche.sortie.twig') }}
    {%  endif %}

    {# Liste des Sorties #}
    <div class="row">

        {% for sortie in sorties %}
            <div class="col-sm-3 mt-4 mb-4">
                <div class="card detail">
                    <div class="image-card d-flex justify-content-center">
                        <img src="{{ asset('img/sortie.png') }}" class="img-fluid card-img-top" alt="{{ sortie.nom }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ sortie.nom }}</h5>
                        <p class="card-text">
                            <b>Lieu:</b> {{ sortie.lieu.nom }}<br>
                            <b>Date:</b> {{ sortie.dateHeureDebut|date('d/m/Y à h:m') }}<br>
                            <b>Organisateur:</b>
                            {% if is_granted ('ROLE_USER') %}
                                <a href="{{ path('utilisateur_profil', {'id':sortie.organisateur.id}) }}">
                                {{ sortie.organisateur.nom }}
                                </a>
                            {% else %}
                                {{ sortie.organisateur.nom }}
                            {%  endif %}
                            <br>
                            <b>Inscrits:</b> {{ sortie.participants ? sortie.participants.count() : '' }} / {{ sortie.nbInscriptionsMax }}<br>
                            <b>Etat:</b> {{ sortie.etat.libelle }}
                        </p>
                        <div class="row justify-content-center">
                            {% if sortie.etat.libelle!='Annulée' %}
                                {% if is_granted ('ROLE_USER') %}
                                    <a href="{{ path('sortie_show', {'id':sortie.id}) }}" class="btn btn-outline-primary d-inline justify-content-center mr-2" title="En savoir +"><img class="btn-icons mb-1" src="{{ asset('img/pics/savoir+.png') }}" alt="En savoir +"></a>

                                    {%  if app.user.id == sortie.organisateur.id %}
                                        <a href="{{ path('sortie_edit', {'id':sortie.id}) }}" alt="modifier ma sortie à {{ sortie.lieu.nom }}" class="btn btn-outline-success d-inline justify-content-center mr-2" title="Modifier une sortie"><img class="btn-icons mb-1" src="{{ asset('img/pics/editer_sortie.png') }}" alt="Modifier une sortie"></a>
                                        <a href="{{ path('annuler_sortie', {'id':sortie.id}) }}" alt="annuler {{ sortie.lieu.nom }}" class="btn btn-outline-dark d-inline justify-content-center mr-2" title="Annuler une sortie"><img class="btn-icons mb-1" src="{{ asset('img/pics/annuler.png') }}" alt="Annuler une sortie"></a>

                                    {%  endif %}

                                    {%  if app.user.id != sortie.organisateur.id %}
                                        <a href="{{ path('ajout_sortie', {'id': sortie.id}) }}"class="d-inline justify-content-center {% if app.user.mesSorties.contains(sortie) %} btn btn-outline-danger" title="Se désinscrire à une sortie"><img class="btn-icons mb-1" src="{{ asset('img/pics/deinscrire_sortie.png') }}" alt="Se désinscrire à une sortie">{% else %} btn btn-outline-success" title="S'inscrire à une sortie"><img class="btn-icons mb-1" src="{{ asset('img/pics/inscription_sortie.png') }}" alt="S'inscrire à une sortie">{% endif %}</a>
                                    {%  endif %}

                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-3 mt-4 mb-4">
                <div class="card detail">
                    <div class="card-body">
                        {% if is_granted('ROLE_USER') %}
                        <h5 class="card-title">échec de la recherche!</h5>
                        <p class="card-text">
                            Aucune sortie ne correspond à vos critères!
                        </p>
                        {% else %}
                            <h5 class="card-title">Aucune sortie en cours</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}