{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="Container-fluid mt-5">
        <div class="row">
            <div class="card col-md-6 offset-3 p-0">
                <div  class="card-header text-center">
                    <h1>{{ utilisateur.pseudo }} </h1>
                </div>
                    <div class="card-text mt-3 p-3">
                        <div class="row">
                            <div class="card-img col-md-4 ml-3 border d-flex align-items-center">
                                <img class="w-100 h-auto" src="{% if utilisateur.file is empty %}{{ asset('img/default.jpg')}}{% endif %}{{  asset('uploads/' ~ utilisateur.file) }}" alt="{{ utilisateur.pseudo }}">
                            </div>
                            <div class="col-md-6">
                                <p><b>Prénom :</b> {{ utilisateur.prenom }}</p>
                                <p><b>Nom :</b> {{ utilisateur.nom }}</p>
                                <p><b>Téléphone :</b> {{ utilisateur.telephone }}</p>
                                <p><b>Email :</b> {{ utilisateur.email }}</p>
                                <p><b>Ville de rattachement :</b> {{ utilisateur.centreFormation.nom }}</p>
                            </div>
                            <div class="col-12 text-center mt-2">
                                {% if app.user.id == utilisateur.id %}
                                <a href="{{ path('utilisateur_edition') }}" class="btn btn-warning d-inline-flex">Modifier</a>
                                {% endif %}
                                <a href="{{ path('home') }}" class="btn btn-primary d-inline-flex">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


