{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}

<div class="Container-fluid mt-5 d-md-none ">
    <div class="row">
        <div class="card col-md-8 offset-2 p-0">
            <p>Cette page n'est pas accèssible pour les smartphones</p>
        </div>
    </div>
</div>

    <div class="Container-fluid mt-5 d-none d-md-block">
        <div class="row">
            <div class="card col-md-8 offset-2 p-0">
                <div  class="card-header">
                <h1>Créer une sortie</h1>
                </div>
                <div class="card-text mt-3 p-3">
                    {{form_start(formSortie) }}
                    {{form_row(formSortie.nom) }}
                    {{form_row(formSortie.dateHeureDebut) }}
                    {{form_row(formSortie.dateLimiteInscription) }}
                    {{form_row(formSortie.nbInscriptionsMax) }}
                    {{form_row(formSortie.duree) }}
                    {{form_row(formSortie.infosSortie) }}
                    <p>Ville organisatrice : {{ organisateur.centreFormation.nom}}</p>
                    <div class="row">
                            <div class="d-inline col-md-10">
                        {{form_row(formSortie.lieu) }}
                        </div>
                            <div class="d-inline col-md-2">
                            <button type="button" class="btn btn-outline-warning " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><img src="{{ asset('img/pics/plus.png') }}"></button>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                   {{form_widget(formSortie.enregistrer) }}
                        {{form_widget(formSortie.publier) }}
                        <a href="{{ path('home') }}" class="btn btn-danger d-inline-flex">Annuler</a>
                    </div>

                    {{ form_end(formSortie) }}

                    <br>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ajout d'un lieu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(formLieu) }}
                                    <p>Nom :  {{ form_widget(formLieu.nom) }} </p>
                                    <p>Rue : {{ form_widget(formLieu.rue) }}</p>
                                    <p>Latitude : {{ form_widget(formLieu.latitude) }}</p>
                                    <p>Longitude : {{ form_widget(formLieu.longitude) }}</p>
                                    <p>Ville : {{ form_widget(formLieu.ville) }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <button class="btn btn-info">{{ button_label|default('Valider') }}</button>
                                    {{ form_end(formLieu) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
